<!-- .erb stands for Embedded RuBy -->
<div class="jumbotron text-center">
    <h1>Expecto Amortentia!</h1>
    <h3>Discover something magical.</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Sign up for free and get limited access to the community.</h4>
            <%= link_to "Sign up for Basic", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4>Sign up for $10.00/month and get full access and information.</h4>
            <%= link_to "Sign up for Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>