<!doctype html>
<html>
    <head>
    </head>
    <body>
        <p>You have received an owl from the WizardMatch.com contact form!</p>
        <p>From: <%= "#{ @name }" %></p>
        <p>Email: <%= "#{ @email }" %></p>
        <p>Message: <%= @body %></p>
    </body>
</html>