@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
  font-weight: bold;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-alert {
  font-weight: bold;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}